// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #FECE00;
$value-color: #690F0F;
$title-color: rgba(105, 15, 15, 0.7);
$moreinfo-color: rgba(105, 15, 15, 0.7);


$alternatiba-background-color: #00804D;
$alternatiba-value-color: #fff;

$alternatiba-title-color: rgba(255, 255, 255, 0.7);
$alternatiba-moreinfo-color: rgba(255, 255, 255, 0.7);

.title {
  white-space: pre-line;
}

.alternatiba {
  .widget-number {

    background-color: $alternatiba-background-color;

    .title {
      color: $alternatiba-title-color;
    }

    .value {
      color: $alternatiba-value-color;
    }
  }
}

.sub_group_details .title {
  font-size: 1.4rem;
}


// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .value {
    color: $value-color;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}

// .widget-number.total_group_count {
//   background: linear-gradient(0.25turn, #00804d, #ebf8e1, #fece00);
// }

// .widget-number.alternatiba_group_count {
//   background: #00804d;
// }

// .widget-number.anv_group_count {
//   background-color: #fece00;
// }

// .widget-number.alterterri_group_count {
//   background: #000839;
// }

// .widget-number.international_group_count {
//   background: #d64c4c;
// }

// .widget-number.common_group_count {
//   background: #d64c4c;
// }

// .widget-number.alternatibases_count {
//   background: #d64c4c;
// }

// .widget-number.bilan_count {
//   background: #00804d;
// }