<% content_for :title do %>Dashboard Alternatiba<% end %>
<div class="gridster alternatiba">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_group_count" data-view="Number" data-title="groupes dans le réseau"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sub_group_details" data-view="Number" data-title="dont"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="country_details" data-view="Number" data-title="dont"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="alternatibases_count" data-view="Number" data-title="Alternatibases"></div>
    </li>
  </ul>
</div>
