<% content_for :title do %>Dashboard Alternatiba<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="total_group_count" data-view="Number" data-title="groupes dans le réseau"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="alternatiba_group_count" data-view="Number" data-title="groupes Alternatiba"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="common_group_count" data-view="Number" data-title="groupes fusionnés Alternatiba / ANV-COP21"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="anv_group_count" data-view="Number" data-title="groupes ANV-COP21"></div>
    </li>

    <!--
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="bilan_count" data-view="Text" data-title="Bilan de la dernière mobilisation" data-text="Thématique : transport.
Nombre de groupes mobilisés : 15
Nombre de militants mobilisés : 123"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="alterterri_group_count" data-view="Number" data-title="Nombre de groupes AlterTerri"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="international_group_count" data-view="Number" data-title="Nombre de groupes internationaux"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="combined_group_count" data-view="Number" data-title="Nombre de groupes fusionnés"></div>
    </li>
    -->

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="alternatibases_count" data-view="Number" data-title="Alternatibases"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="blabla" data-view="Number" data-title="Alternatibases"></div>
    </li>

  </ul>
</div>
